<!DOCTYPE html>
<html>
<head>
    <title>WbfcEditor - Java codes generator</title>
    <meta name="content-type" content="text/plain; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="js/element-ui/lib/theme-chalk/index.css">
    <!--    <link rel="stylesheet" href="css/darcula.css">-->
    <script src="js/vue/dist/vue.js"></script>
    <script src="js/element-ui/lib/index.js"></script>

    <style scoped>
        html, body {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        #app {
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }

        .has-tools .el-form-item {
            width: 12%;
            display: inline-block;
        }

        .has-tools .el-form-item .el-select{
            width: 150%;
        }

        .has-tools .el-form-item:first-child {
            width: 10%;
        }

        .has-tools .el-form-item__label {
            width: 30%;
        }

        .tool-group {
            border-bottom: 1px solid #dcdfe6;
            margin-bottom: 15px;
        }

        #app .el-form-item__error {
            position: relative;
        }

        .pop-tools .el-form-item {
            display: inline-block;
            width: 30%;
        }

        .quick-tools .quick-input {
            width: 90%;
        }

        .quick-tools .quick-tooltip {
            width: 10%;
        }

        .content {
            padding: 1rem;
        }

        .bottom-bar {
            margin: 0px auto;
            text-align: center;
        }

        .bottom-bar .bottom-bar-btn {
            margin-top: 12px;
        }

        .log-console {
            border: 1px solid #DCDFE6;
            min-height: 10rem;
        }

        .log-body {
            height: 10rem;
        }

        .log-console .log-body-log {
            height: 10rem;
            overflow-y: auto;
            padding: 5px 15px;
            line-height: 1.5;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            font-size: inherit;
            color: #606266;
            background-color: #FFF;
            background-image: none;
            border: 1px solid #DCDFE6;
            border-radius: 4px;
            -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
            transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        }

        .log-body .el-textarea, .log-body textarea {
            height: 100%;
        }

        .log-content {
            display: block;
            word-break: break-word;
        }

        .log-loading {
            display: inline-block;
            padding: 2rem 0rem 1rem 0rem;
        }

        .footer {
            font-size: smaller;
            margin: 0 auto;
            text-align: center;
            padding-top: 2rem;
        }

        .footer span {
            display: block;
        }
    </style>
</head>
<body>
<div id="app" v-loading="loading"
     element-loading-text="正在加载中"
     element-loading-spinner="el-icon-loading"
     element-loading-background="rgba(0, 0, 0, 0.8)">
    <div class="content">
        <el-steps :active="active" finish-status="success">
            <el-step title="1 - 配置路径"></el-step>
            <el-step title="2 - 配置生成规则"></el-step>
            <el-step title="3 - 开始生成"></el-step>
        </el-steps>
        <el-divider></el-divider>
        <div v-if="active == 1">
            <el-form ref="form" :model="form" label-width="10%" :rules="formFules">
                <div class="has-tools">
                    <el-form-item label-width="50%">
                    </el-form-item>
                    <el-form-item label="自定义XML" label-width="70%">
                        <div slot="label">
                            <span>自定义XML</span>
                            <el-tooltip placement="bottom" effect="light">
                                <div slot="content">
                                    <span>开启该项后,在第三步骤时会根据前两步的配置生成XML,点击【生成】按钮时将使用XML进行生成</span>
                                </div>
                                <el-button type="text" icon="el-icon-question"></el-button>
                            </el-tooltip>
                        </div>
                        <el-switch v-model="form.hasXml" active-value="true" inactive-value="false"></el-switch>
                    </el-form-item>
                    <el-form-item label="Controller" label-width="50%">
                        <el-switch v-model="form.hasController" active-value="true" inactive-value="false"></el-switch>
                    </el-form-item>
                    <el-form-item label="Service" label-width="50%">
                        <el-switch v-model="form.hasService" active-value="true" inactive-value="false"></el-switch>
                    </el-form-item>
                    <el-form-item label="PO&VO" label-width="50%">
                        <el-switch v-model="form.hasPoVo" active-value="true" inactive-value="false"></el-switch>
                    </el-form-item>
                    <el-form-item label="更新策略" label-width="50%">
                        <el-select v-model="form.updateStrategy" placeholder="请选择">
                            <el-option label="先删后插" value="DELETE_INSERT"></el-option>
                            <el-option label="只更新" value="ONLY_UPDATE"></el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div>
                    <el-form-item prop="quickPathSet">
                        <div slot="label">
                            <span>快捷路径</span>
                            <el-tooltip placement="bottom" effect="light">
                                <div slot="content">
                                    <span>自动设置下面各个路径</span>
                                </div>
                                <el-button type="text" icon="el-icon-question"></el-button>
                            </el-tooltip>
                        </div>
                        <el-input v-model="form.quickPathSet"></el-input>
                    </el-form-item>
                </div>
                <div>
                    <el-form-item prop="quickPackageSet">
                        <div slot="label">
                            <span>快捷包名</span>
                            <el-tooltip placement="bottom" effect="light">
                                <div slot="content">
                                    <span>自动填写下面的各个包名</span>
                                </div>
                                <el-button type="text" icon="el-icon-question" class="quick-tooltip"></el-button>
                            </el-tooltip>
                        </div>
                        <el-input v-model="form.quickPackageSet" class="quick-input"></el-input>
                    </el-form-item>
                </div>
                <div v-if="'true' == form.hasController" class="tool-group">
                    <el-form-item label="Controller 路径" prop="controllerPath">
                        <el-input v-model="form.controllerPath">
                            <el-button slot="append" icon="el-icon-folder-opened"
                                       @click="chooseFile('controllerPath')"></el-button>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="Controller 包名" prop="controllerPackage">
                        <el-input v-model="form.controllerPackage"></el-input>
                    </el-form-item>
                </div>
                <div v-if="'true' == form.hasService" class="tool-group">
                    <el-form-item label="Service 路径" prop="servicePath">
                        <el-input v-model="form.servicePath">
                            <el-button slot="append" icon="el-icon-folder-opened"
                                       @click="chooseFile('servicePath')"></el-button>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="Service 包名" prop="servicePackage">
                        <el-input v-model="form.servicePackage"></el-input>
                    </el-form-item>
                </div>
                <div v-if="'true' == form.hasPoVo" class="tool-group">
                    <el-form-item label="PO 路径" prop="poPath">
                        <el-input v-model="form.poPath">
                            <el-button slot="append" icon="el-icon-folder-opened"
                                       @click="chooseFile('poPath')"></el-button>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="PO 包名" prop="poPackage">
                        <el-input v-model="form.poPackage"></el-input>
                    </el-form-item>
                    <el-form-item label="VO 路径" prop="voPath">
                        <el-input v-model="form.voPath">
                            <el-button slot="append" icon="el-icon-folder-opened"
                                       @click="chooseFile('voPath')"></el-button>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="VO 包名" prop="voPackage">
                        <el-input v-model="form.voPackage"></el-input>
                    </el-form-item>
                    <el-form-item prop="simplePoVo">
                        <div slot="label">
                            <span>结构简化</span>
                            <el-tooltip placement="bottom" effect="light">
                                <div slot="content">
                                    <span>开启该选项后，Controller的insert和update会简化成一个saveOrUpdate函数, delete会使用固定的com.wisea.cloud.model.po.LongIdPo</span>
                                    <br/>
                                    <span>这里为全局配置，也可以在下一步中对表单独进行配置,精简模式下无法生成【批量新增】和【批量修改】</span>
                                </div>
                                <el-button type="text" icon="el-icon-question" class="quick-tooltip"></el-button>
                            </el-tooltip>
                        </div>
                        <el-switch v-model="form.simplePoVo" active-value="true" inactive-value="false"></el-switch>
                    </el-form-item>
                </div>
                <el-form-item label="Entity 路径" prop="entityPath">
                    <el-input v-model="form.entityPath">
                        <el-button slot="append" icon="el-icon-folder-opened"
                                   @click="chooseFile('entityPath')"></el-button>
                    </el-input>
                </el-form-item>
                <el-form-item label="Entity 包名" prop="entityPackage">
                    <el-input v-model="form.entityPackage"></el-input>
                </el-form-item>
                <el-form-item label="DAO 路径" prop="daoPath">
                    <el-input v-model="form.daoPath">
                        <el-button slot="append" icon="el-icon-folder-opened"
                                   @click="chooseFile('daoPath')"></el-button>
                    </el-input>
                </el-form-item>
                <el-form-item label="DAO 包名" prop="daoPackage">
                    <el-input v-model="form.daoPackage"></el-input>
                </el-form-item>
                <el-form-item label="XML 路径" prop="xmlPath">
                    <el-input v-model="form.xmlPath">
                        <el-button slot="append" icon="el-icon-folder-opened"
                                   @click="chooseFile('xmlPath')"></el-button>
                    </el-input>
                </el-form-item>
                <el-form-item label="XML 包名" prop="xmlPackage">
                    <el-input v-model="form.xmlPackage" placeholder="mappings"></el-input>
                </el-form-item>
                <el-form-item label="编码格式" prop="charset">
                    <el-select v-model="form.charset" placeholder="请选择">
                        <el-option v-for="item in charsetList" :key="item" :label="item" :value="item">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
        </div>
        <div v-if="active == 2">
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column type="index" width="50"></el-table-column>
                <el-table-column label="表名" prop="tableName"></el-table-column>
                <el-table-column label="映射名" prop="entityName"></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button @click.native.prevent="openEdit(scope.$index, scope.row)" type="text" size="small">编辑
                        </el-button>
                        <el-button @click.native.prevent="deleteRow(scope.$index, scope.row)" type="text" size="small">
                            删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>

        </div>
        <div v-if="active == 3">
            <div v-if="form.hasXml == 'true'">
                <fieldset class="log-console">
                    <legend>自定义XML</legend>
                    <div class="log-body">
                        <el-input v-loading="genXmlLoading" type="textarea" :rows="5"
                                  v-model="form.diyXml"></el-input>
                    </div>
                </fieldset>
            </div>
            <div>
                <fieldset class="log-console">
                    <legend>Generator Log Console</legend>
                    <div class="log-body-log">
                        <span class="log-content" v-for="(item, index) in status"
                              :key="'log_' + index"> {{item}} </span>
                        <div class="log-loading" v-if="generateCodeLoading" v-loading="true"></div>
                    </div>
                </fieldset>
            </div>
        </div>
        <el-divider></el-divider>
        <div class="bottom-bar">
            <span>
                <el-button type="warning" class="bottom-bar-btn" v-if="active == 1" @click="reset"
                           :diabled="generateCodeLoading">重置</el-button>
                <el-button type="success" class="bottom-bar-btn" v-if="active > 1" @click="pres"
                           :diabled="generateCodeLoading">上一步</el-button>
                <el-button type="success" v-if="active < 3" class="bottom-bar-btn" @click="next">下一步</el-button>
                <el-button type="primary" v-if="active >= 3" class="bottom-bar-btn" @click="confimGen"
                           :diabled="generateCodeLoading">生成</el-button>
                <el-button type="danger" v-if="active >= 3" class="bottom-bar-btn" @click="closeWinodow"
                           :diabled="generateCodeLoading">关闭</el-button>
            </span>
        </div>
        <div class="footer">
            <span>©2020 WbfcEditor - WbfcEditor - Java codes generator</span><span>Author: XuDL(Wisea)</span>
        </div>
    </div>
    <el-dialog title="编辑" :visible.sync="dialogVisible" :before-close="handleClose" :close-on-click-modal="false">
        <el-form :model="updateForm" label-width="20%" :rules="updateFormFules" ref="updateForm">
            <el-form-item label="表名">
                <span> {{ updateForm.tableName }} </span>
            </el-form-item>
            <el-form-item label="映射名" prop="entityName">
                <el-input v-model="updateForm.entityName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item>
                <div slot="label">
                    <span>是否为关系表</span>
                    <el-tooltip placement="bottom" effect="light">
                        <div slot="content">
                            <span>开启该选项后，不生成Controller</span>
                        </div>
                        <el-button type="text" icon="el-icon-question" class="quick-tooltip"></el-button>
                    </el-tooltip>
                </div>
                <el-switch v-model="updateForm.isRelation" active-value="true" inactive-value="false"></el-switch>
            </el-form-item>
            <el-form-item v-if="form.simplePoVo == 'false'">
                <div slot="label">
                    <span>结构简化</span>
                    <el-tooltip placement="bottom" effect="light">
                        <div slot="content">
                            <span>开启该选项后，Controller的insert和update会简化成一个saveOrUpdate函数, delete会使用固定的com.wisea.cloud.model.po.LongIdPo</span>
                            <br/>
                            <span>精简模式下无法生成【批量新增】和【批量修改】</span>
                        </div>
                        <el-button type="text" icon="el-icon-question" class="quick-tooltip"></el-button>
                    </el-tooltip>
                </div>
                <el-switch v-model="updateForm.simplePoVo" active-value="true" inactive-value="false"></el-switch>
            </el-form-item>
            <el-form-item label="批量函数" class="pop-tools">
                <el-form-item label="新增" prop="batchInsert" v-if="notSimplePoVo" label-width="50%">
                    <el-switch v-model="updateForm.batchInsert" active-value="true" inactive-value="false"></el-switch>
                </el-form-item>
                <el-form-item label="修改" prop="batchUpdate" v-if="notSimplePoVo" label-width="50%">
                    <el-switch v-model="updateForm.batchUpdate" active-value="true" inactive-value="false"></el-switch>
                </el-form-item>
                <el-form-item prop="batchDelete" label-width="50%">
                    <div slot="label">
                        <span>删除</span>
                        <el-tooltip placement="bottom" effect="light">
                            <div slot="content">
                                <span>默认的删除方法是伪批量,在Service中使用for循环进行循环操做。开启该选项后，将会XML会生成batchDelete函数,Service中也会直接调用batchDelete</span>
                            </div>
                            <el-button type="text" icon="el-icon-question"></el-button>
                        </el-tooltip>
                    </div>
                    <el-switch v-model="updateForm.batchDelete" active-value="true" inactive-value="false"></el-switch>
                </el-form-item>
            </el-form-item>
            <el-form-item label="自定义列属性">
                <div>
                    <el-row>
                        <el-button type="text" icon="el-icon-plus" title="新增一行" @click="addColumn"></el-button>
                    </el-row>
                    <el-table :data="updateForm.columns" border style="width: 100%">
                        <el-table-column type="index" width="50"></el-table-column>
                        <el-table-column label="列名" min-width="30%">
                            <template slot-scope="scope">
                                <el-form-item :prop="'columns.' + scope.$index + '.colName'"
                                              :rules="updateFormFules.columns.colName">
                                    <el-select v-model="scope.row.colName" placeholder="请选择">
                                        <el-option
                                                v-for="item in updateForm.columnList"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </template>
                        </el-table-column>
                        <el-table-column>
                            <template slot="header" slot-scope="scope">
                                <span>配置属性</span>
                                <el-tooltip placement="top" effect="light">
                                    <div slot="content">
                                        <span>用于手动指定列参数，多个使用逗号分隔 例:aa=yy;bb=nn 更具体语法属性可以参考</span> <a
                                            class="columns-tips"
                                            href="http://mybatis.org/generator/configreference/columnOverride.html"
                                            target="_blank">http://mybatis.org/generator/configreference/columnOverride.html</a>
                                    </div>
                                    <el-button type="text" icon="el-icon-question"></el-button>
                                </el-tooltip>
                            </template>
                            <template slot-scope="scope">
                                <el-form-item :prop="'columns.' + scope.$index + '.colProperties'"
                                              :rules="updateFormFules.columns.colProperties">
                                    <el-input v-model="scope.row.colProperties"></el-input>
                                </el-form-item>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" min-width="20%">
                            <template slot-scope="scope">
                                <el-button @click.native.prevent="deleteColumn(scope.$index, scope.row)" type="text"
                                           size="small">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="handleClose">取 消</el-button>
            <el-button type="primary" @click="confimRow">确 定</el-button>
        </span>
    </el-dialog>
</div>
</body>
<script>
    var indexVue = new Vue({
        el: '#app',
        data: function () {
            var vidFunc = (prd, msg) => {
                return (rule, value, callback) => {
                    //console.log("check vidFunc value ="  + value);
                    if (this.form[prd] && !value) return callback(new Error(msg));
                    callback();
                };
            };
            var vidPathFunc = (rule, value, callback) => {
                //console.log("check vidPathFunc value ="  + value);
                if (value) {
                    let checkDir = isAbsDir(value);
                    if (!checkDir) {
                        return callback(new Error("必须是已存在的绝对目录"));
                    }
                    callback();
                }
            };

            // var validCloumns = (rule, value, callback) => {
            //     if(value){
            //         let vLength = value.length;
            //         let tLength = value.filter(n => n.colProperties).length;
            //         if(vLength != tLength){
            //             return callback(new Error("列名不能为空, 配置属性不能为空"));
            //         }
            //
            //     }
            // };
            var validColName = (rule, value, callback) => {
                if (!value) return callback(new Error("配置属性不能为空"));
                callback();
            };
            var validColProp = (rule, value, callback) => {
                if (!value) return callback(new Error("配置属性不能为空"));
                callback();
            };
            return {
                loading: true,
                active: 1,
                form: {
                    xmlPackage: 'mappings'
                },
                formFules: {
                    controllerPath: [
                        {validator: vidFunc('hasController', 'Controller 路径不能为空'), trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    controllerPackage: [{validator: vidFunc('hasController', 'Controller 包名不能为空'), trigger: 'blur'}],
                    servicePath: [
                        {validator: vidFunc('hasService', 'Service 路径不能为空'), trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    servicePackage: [{validator: vidFunc('hasService', 'Service 包名不能为空'), trigger: 'blur'}],
                    poPath: [
                        {validator: vidFunc('hasPoVo', 'PO 路径不能为空'), trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    poPackage: [{validator: vidFunc('hasPoVo', 'PO 包名不能为空'), trigger: 'blur'}],
                    voPath: [
                        {validator: vidFunc('hasPoVo', 'VO 路径不能为空'), trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    voPackage: [{validator: vidFunc('hasPoVo', 'VO 包名不能为空'), trigger: 'blur'}],
                    entityPath: [
                        {required: true, message: 'Entity 路径不能为空', trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    entityPackage: [{required: true, message: 'Entity 包名不能为空', trigger: 'blur'}],
                    daoPath: [
                        {required: true, message: 'DAO 路径不能为空', trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    daoPackage: [{required: true, message: 'DAO 包名不能为空', trigger: 'blur'}],
                    xmlPath: [
                        {required: true, message: 'XML 路径不能为空', trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    xmlPackage: [{required: true, message: 'XML 包名不能为空', trigger: 'blur'}],
                },
                status: [],
                tableData: [], // {tableName: 'sys', entityName:'sys'}
                dialogVisible: false,
                updateForm: {
                    columnList: [],
                    columns: []
                },
                updateFormFules: {
                    entityName: [{required: true, message: '映射名不能为空', trigger: 'blur'}],
                    columns: {
                        colName: [{required: true, message: '列名不能为空', trigger: 'change'}],
                        colProperties: [{required: true, message: '配置属性不能为空', trigger: 'blur'}]
                    }
                },
                dialogColumnVisible: false,
                genXmlLoading: false, // 生成XML进度
                generateCodeLoading: false, // 生成code进度load
                charsetList: [], // 编码格式
            }
        },
        watch: {
            'form.quickPathSet': function (val) {
                if (val) {
                    if (this.form.hasController) {
                        this.form.controllerPath = val;
                    }
                    if (this.form.hasService) {
                        this.form.servicePath = val;
                    }
                    if (this.form.hasPoVo) {
                        this.form.poPath = val;
                        this.form.voPath = val;
                    }
                    this.form.entityPath = val;
                    this.form.daoPath = val;
                    let tmpVal = val;
                    // 判断是否由/或\结尾
                    if ((tmpVal.indexOf("/", tmpVal.length - 1) !== -1) || (tmpVal.indexOf("\\", tmpVal.length - 1) !== -1)) {
                        tmpVal = tmpVal.substring(0, tmpVal.length - 1);
                    }
                    // 最后一级目录位置
                    let subIndex = tmpVal.lastIndexOf("/");
                    let unSubIndex = tmpVal.lastIndexOf("\\");
                    let tempIndex = subIndex > unSubIndex ? subIndex : unSubIndex;
                    // 截取并添加resources
                    let tempSub = tmpVal.substring(0, tempIndex) + (subIndex > unSubIndex ? '/' : '\\') + 'resources';
                    this.form.xmlPath = tempSub;
                }
            },
            'form.quickPackageSet': function (val) {
                if (val) {
                    if (this.form.hasController) {
                        this.form.controllerPackage = val + '.controller';
                    }
                    if (this.form.hasService) {
                        this.form.servicePackage = val + '.service';
                    }
                    if (this.form.hasPoVo) {
                        this.form.poPackage = val + '.po';
                        this.form.voPackage = val + '.vo';
                    }
                    this.form.entityPackage = val + '.entity';
                    this.form.daoPackage = val + '.mapper';
                }
            }
        },
        computed: {
            notSimplePoVo() {
                return !(this.form.simplePoVo == 'true' || this.updateForm.simplePoVo == 'true');
            }
        },
        created: function () {
            this.loadContext();
        },

        methods: {
            reset() {
                resetConfig();
                this.getConfig();
            },
            next() {
                //console.log("active = " + this.active);
                if (this.active <= 1) {
                    //console.log("validate from");
                    this.$refs['form'].validate((valid) => {
                        //console.log("validate valid=" + valid);
                        if (!valid) {
                            this.active = 1;
                            return false;
                        } else {
                            if (this.active++ > 2) this.active = 3;
                        }
                    });
                } else {
                    if (this.active++ > 2) this.active = 3;
                }
                if (this.active >= 3) {
                    this.genXml();
                    // this.confimGen();
                }
            },
            pres() {
                if (this.active >= 3) {
                    this.form.diyXml = null;
                    this.$set(this, 'status', []);
                }
                if (this.active-- < 2) this.active = 1;
            },
            openEdit(index, row) {
                /*this.$set(this.updateForm, 'tableName', row.tableName);
                this.$set(this.updateForm, 'entityName', row.entityName);*/
                let tep = this.$options.data().updateForm;
                this.$set(this, 'updateForm', Object.assign(tep, row));
                // 查询对应的列名
                this.getTableColumn(this.updateForm.tableName);
                this.dialogVisible = true;

            },
            deleteRow(index, row) {
                let _this = this;
                this.$confirm('是否删除?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    _this.tableData.splice(index, 1);
                }).catch((e) => {
                    if ('cancel' == e) return;
                    console.log("delete table is error = " + e);
                    this.$message({
                        type: 'info',
                        message: '删除失败，请参考控制台日志'
                    });
                });

            },
            handleClose() {
                this.dialogVisible = false;
                this.$set(this, 'updateForm', this.$options.data().updateForm);
            },
            addColumn() {
                this.updateForm.columns.push({});
            },
            confimRow() {
                this.$refs['updateForm'].validate((valid) => {
                    if (valid) {
                        let tName = this.updateForm.tableName;
                        let updRowIndex = this.getTableDataIndex(tName);
                        this.$set(this.tableData, updRowIndex, Object.assign({}, this.updateForm));
                        this.handleClose();
                    }
                });
            },
            getTableDataIndex(name) {
                if (name) {
                    for (let i = 0; i < this.tableData.length; i++) {
                        if (name == this.tableData[i].tableName) {
                            return i;
                        }
                    }
                }
                return 0;
            },
            deleteColumn(index) {
                this.updateForm.columns.splice(index, 1);
            },
            getTableColumn(tableName) {
                // 获取默认的特殊列
                this.getDefaultDateColumn(tableName);
                // 如果下拉列表已经查询过了 就不用重复查了
                if (this.updateForm.columnList.length <= 0) {
                    // 查询webengin接口对应的数据
                    let columnList = getColumnsOptions(tableName);
                    //console.log("columnList = "+ columnList);
                    if (columnList && columnList.length > 0) {
                        this.$set(this.updateForm, 'columnList', columnList.map(n => {
                            return {'label': n, 'value': n};
                        }));
                        //console.log("updateForm.columnList = " + this.updateForm.columnList);
                    }
                }

            },
            getDefaultDateColumn(tableName) {
                // 如果是编辑的情况就不设置默认了
                if (this.updateForm.columns.length <= 0) {
                    let dateColums = getDefaultColumnList(tableName);
                    // 需要添加date映射
                    if (dateColums.length > 0) {
                        this.$set(this.updateForm, 'columns', dateColums);
                    }
                }

            },
            getTables() {
                let tempTable = getTables();
                this.$set(this, 'tableData', tempTable);
            },
            getConfig() {
                let temp = getConfig();
                this.$set(this, 'form', temp);
            },
            getCharsetList(){
                let temp = getCharsetList();
                this.$set(this, 'charsetList', temp);
                console.log("charset=" + this.charsetList);
            },
            loadContext() {
                let maxTimeout = 10;
                let tempIndex = 0;
                let _this = this;
                // 因为application里是页面加载完成后添加的Java成员 如果不延迟的话 可能会出现加载不到的问题
                let intv = null;
                intv = setInterval(() => {
                    //console.log("tempIndex = " + tempIndex);
                    if (tempIndex >= 5) {
                        _this.loading = false;
                        _this.$message.error({
                            message: "您的IDEA不支持本插件，请使用 IntelliJ IDEA 2020.1.3 (Ultimate Edition) 或以上版本",
                            duration: 0
                        });
                        if (intv) clearInterval(intv);
                        return;
                    }
                    let checkRes = checkGenerrator();
                    if (checkRes) {
                        if (intv) clearInterval(intv);
                        _this.loading = false;
                        _this.checkDbConnect();
                        _this.getConfig();
                        _this.getTables();
                        _this.getCharsetList();
                    }
                    tempIndex++;
                }, 1000);
            },
            saveConf() {
                let wbfcConfig = Object.assign({}, this.form);
                wbfcConfig.tablesCloumnList = Object.assign(this.tableData);
                //console.log("tabledata = " + JSON.stringify(wbfcConfig));
                // 保存配置参数
                saveWbfcConfig(wbfcConfig);
            },
            async(func, thenFunc, catchFunc) {
                var promise = new Promise(function (resolve, reject) {
                    setTimeout(func, 1000, resolve, reject);
                });
                if (thenFunc) promise.then(thenFunc);
                if (catchFunc) promise.then(catchFunc);
                return promise;
            },
            genXml() {
                if ('true' == this.form.hasXml) {
                    this.genXmlLoading = true;
                    // 保存配置
                    this.saveConf();
                    // 生成XML
                    generatorXml();
                    // this.form.diyXml = generatorXml();
                }
            },
            confimGen() {
                let name = '配置';
                if ('true' == this.form.hasXml) {
                    name = 'XML';
                }
                this.$confirm('您要按照该' + name + '生成代码吗？【目录会被覆盖生成】', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // 避免太快 框没有关闭就出现日志了
                    setTimeout(() => {
                        this.generate();
                    }, 500);
                }).catch((e) => {
                    if ('cancel' == e) {
                        return;
                    }
                    this.$message({
                        type: 'info',
                        message: '生成失败，请参考控制台日志'
                    });
                });
            },
            generate() {
                //console.log("tabledata = " + JSON.stringify(this.tableData));
                this.$set(this, 'status', []);
                this.generateCodeLoading = true;
                // 保存配置
                this.saveConf();
                generateCodes();
            },
            checkDbConnect() {
                let res = checkDbConnection();
                if ('success' != res) {
                    this.$alert(res, '-提示-', {
                        confirmButtonText: '确定',
                        callback: action => {
                            closeApplication();
                        }
                    });
                    return;
                }
            },
            closeWinodow() {
                closeApplication();
            },
            appendText(text) {
                if (text) this.status.push(text);
            },
            setDiyXml(xml) {
                this.genXmlLoading = false;
                this.$set(this.form, 'diyXml', xml);
            },
            setGenerateStatus(status) {
                this.generateCodeLoading = false;
                if ('success' == status) {
                    this.$alert('生成成功');
                } else {
                    this.$alert('生成失败,请到控制台查看错误日志');
                }
            },
            chooseFile(pathName) {
                let pathVal = this.form[pathName];
                let choosePath = openChooseFile(pathName, pathVal);
                this.form[pathName] = choosePath;
            },
            setFormVal(name, val) {
                this.form[name] = val;
            }
        }
    });

    /**
     * 校验时候有java成员变量
     *
     * @returns {boolean}
     */
    function checkGenerrator() {
        try {
            if (wbfcGenerator) {
                return true;
            }
        } catch (e) {
            // do nothing
        }
        return false;
    }

    function getTables() {
        if (!checkGenerrator()) {
            return [];
        }
        let tempTable = wbfcGenerator.getTables();
        return JSON.parse(tempTable);
    }

    /**
     * 获取table对应的列下拉框值
     *
     * @param tableName
     * @returns {string|any}
     */
    function getColumnsOptions(tableName) {
        if (!checkGenerrator()) {
            return [];
        }
        let tempCol = wbfcGenerator.getTableColumnOptions(tableName);
        if (tempCol && '' != tempCol) {
            return JSON.parse(tempCol);
        }
        return [];
    }

    /**
     * 获取table对应的列属性
     *
     * @param tableName
     * @returns {string|any}
     */
    function getDefaultColumnList(tableName) {
        if (!checkGenerrator()) {
            return [];
        }
        let tempCol = wbfcGenerator.getDefaultColumnList(tableName);
        if (tempCol && '' != tempCol) {
            return JSON.parse(tempCol);
        }
        return [];
    }

    /**
     * 判断是否为绝对路径
     *
     * @param path
     * @returns {string|any}
     */
    function isAbsDir(path) {
        if (!checkGenerrator()) {
            return false;
        }
        return wbfcGenerator.isAbsDirectory(path);
    }

    /**
     * 获取配置
     *
     * @returns {string|any}
     */
    function getConfig() {
        if (!checkGenerrator()) {
            return {};
        }
        let tempCol = wbfcGenerator.getProjectConfig();
        if (tempCol && '' != tempCol) {
            return JSON.parse(tempCol);
        }
        return {};
    }

    /**
     * 生成代码
     *
     * @returns {string|*}
     */
    function generateCodes() {
        if (!checkGenerrator()) {
            return;
        }
        wbfcGenerator.generateCodes();
    }

    /**
     * 保存配置信息
     *
     * @returns {string|*}
     */
    function saveWbfcConfig(wbfcConfig) {
        if (!checkGenerrator()) {
            return '';
        }
        wbfcGenerator.saveWbfcConfig(JSON.stringify(wbfcConfig));
    }

    /**
     * 关闭
     *
     */
    function closeApplication() {
        if (!checkGenerrator()) {
            return;
        }
        wbfcGenerator.close();
    }

    /**
     * 检查数据库链接
     */
    function checkDbConnection() {
        if (!checkGenerrator()) {
            return;
        }
        return wbfcGenerator.checkDbConnection();
    }

    function generatorXml() {
        if (!checkGenerrator()) {
            return;
        }
        wbfcGenerator.generatorXml();
    }

    function appendText(text) {
        //console.log("js console append:" + text);
        if (text) {
            indexVue.appendText(text);
        }
    }

    function setDiyXml(xml) {
        if (xml) {
            //let temp = unescape(xml);
            let temp = decodeURIComponent(xml);
            indexVue.setDiyXml(temp);
        }
    }

    function setGenerateStatus(status) {
        if (status) {
            indexVue.setGenerateStatus(status);
        }
    }

    function resetConfig() {
        if (!checkGenerrator()) {
            return;
        }
        wbfcGenerator.resetConfig();
    }

    function openChooseFile(pathName, pathVal) {
        if (!checkGenerrator()) {
            return '';
        }
        return wbfcGenerator.openChooseFile(pathName, pathVal);
    }

    function setFormVal(name, val) {
        if (name) {
            let temp = unescape(val);
            indexVue.setFormVal(name, temp);
        }
    }

    function getCharsetList(){
        if (!checkGenerrator()) {
            return [];
        }
        let tempCol = wbfcGenerator.getCharsetList();
        if (tempCol && '' != tempCol) {
            return JSON.parse(tempCol);
        }
        return [];
    }
</script>
</html>