<!DOCTYPE html>
<html>
<head>
    <meta name="content-type" content="text/plain; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="js/element-ui/lib/theme-chalk/index.css">
    <script src="js/vue/dist/vue.js"></script>
    <script src="js/element-ui/lib/index.js"></script>
    <style scoped>
        .has-tools .el-form-item {
            width: 10%;
            display: inline-block;
        }

        .has-tools .el-form-item__label {
            width: 30%;
        }

        .tool-group {
            border-bottom: 1px solid #DCDFE6;
            margin-bottom: 15px;
        }

        #app .el-form-item__error {
            position: relative;
        }
    </style>
</head>
<body>
<div id="app" v-loading="loading"
     element-loading-text="正在加载中"
     element-loading-spinner="el-icon-loading"
     element-loading-background="rgba(0, 0, 0, 0.8)">
    <el-steps :active="active" finish-status="success">
        <el-step title="1 - 配置包路径"></el-step>
        <el-step title="2 - 选择生成规则"></el-step>
        <el-step title="3 - 开始生成"></el-step>
    </el-steps>
    <el-divider></el-divider>
    <div v-if="active == 1">
        <el-form ref="form" :model="form" label-width="10%" :rules="formFules">
            <div class="has-tools">
                <el-form-item label-width="50%">
                </el-form-item>
                <el-form-item label="Controller" label-width="50%">
                    <el-switch v-model="form.hasController" active-value="true" inactive-value="false"></el-switch>
                </el-form-item>
                <el-form-item label="Service" label-width="50%">
                    <el-switch v-model="form.hasService" active-value="true" inactive-value="false"></el-switch>
                </el-form-item>
                <el-form-item label="PO&VO" label-width="50%">
                    <el-switch v-model="form.hasPoVo" active-value="true" inactive-value="false"></el-switch>
                </el-form-item>
            </div>
            <div v-if="'true' == form.hasController" class="tool-group">
                <el-form-item label="Controller 路径" prop="controllerPath">
                    <el-input v-model="form.controllerPath"></el-input>
                </el-form-item>
                <el-form-item label="Controller 包名" prop="controllerPackage">
                    <el-input v-model="form.controllerPackage"></el-input>
                </el-form-item>
            </div>
            <div v-if="'true' == form.hasService" class="tool-group">
                <el-form-item label="Service 路径" prop="servicePath">
                    <el-input v-model="form.servicePath"></el-input>
                </el-form-item>
                <el-form-item label="Service 包名" prop="servicePackage">
                    <el-input v-model="form.servicePackage"></el-input>
                </el-form-item>
            </div>
            <div v-if="'true' == form.hasPoVo" class="tool-group">
                <el-form-item label="PO 路径" prop="poPath">
                    <el-input v-model="form.poPath"></el-input>
                </el-form-item>
                <el-form-item label="PO 包名" prop="poPackage">
                    <el-input v-model="form.poPackage"></el-input>
                </el-form-item>
                <el-form-item label="VO 路径" prop="voPath">
                    <el-input v-model="form.voPath"></el-input>
                </el-form-item>
                <el-form-item label="VO 包名" prop="voPackage">
                    <el-input v-model="form.voPackage"></el-input>
                </el-form-item>
                <el-form-item label="结构简化">
                    <el-switch v-model="form.simplePoVo"  active-value="true" inactive-value="false"></el-switch>
                    <el-tooltip placement="right" effect="light">
                        <div slot="content">
                            <span>开启该选项后，Controller的insert和update会简化成一个saveOrUpdate函数, delete会使用固定的com.wisea.cloud.model.po.LongIdPo</span>
                            <br/>
                            <span>这里为全局配置，也可以在下一步中对表单独进行配置</span>
                        </div>
                        <el-button type="text" icon="el-icon-question"></el-button>
                    </el-tooltip>
                </el-form-item>
            </div>
            <el-form-item label="Entity 路径" prop="entityPath">
                <el-input v-model="form.entityPath"></el-input>
            </el-form-item>
            <el-form-item label="Entity 包名" prop="entityPackage">
                <el-input v-model="form.entityPackage"></el-input>
            </el-form-item>
            <el-form-item label="DAO 路径" prop="daoPath">
                <el-input v-model="form.daoPath"></el-input>
            </el-form-item>
            <el-form-item label="DAO 包名" prop="daoPackage">
                <el-input v-model="form.daoPackage"></el-input>
            </el-form-item>
            <el-form-item label="XML 路径" prop="xmlPath">
                <el-input v-model="form.xmlPath"></el-input>
            </el-form-item>
            <el-form-item label="XML 包名" prop="xmlPackage">
                <el-input v-model="form.xmlPackage"></el-input>
            </el-form-item>
        </el-form>
    </div>
    <div v-if="active == 2">
        <el-table :data="tableData" border style="width: 100%">
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column label="表名" prop="tableName"></el-table-column>
            <el-table-column label="映射名" prop="entityName"></el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button @click.native.prevent="openEdit(scope.$index, scope.row)" type="text" size="small">编辑
                    </el-button>
                    <el-button @click.native.prevent="deleteRow(scope.$index, scope.row)" type="text" size="small">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <div v-if="active == 3">
        <span> {{status}} </span>
    </div>
    <el-divider></el-divider>
    <el-row>
        <el-col :span="4" style="margin: 0px auto;float: none;">
            <el-button style="margin-top: 12px;" @click="pres">上一步</el-button>
            <el-button v-if="active < 3" style="margin-top: 12px;" @click="next">下一步</el-button>
        </el-col>
    </el-row>
    <el-dialog title="编辑" :visible.sync="dialogVisible" :before-close="handleClose" :close-on-click-modal="false">
        <el-form :model="updateForm" label-width="15%" :rules="updateFormFules" ref="updateForm">
            <el-form-item label="表名">
                <span> {{ updateForm.tableName }} </span>
            </el-form-item>
            <el-form-item label="映射名" prop="entityName">
                <el-input v-model="updateForm.entityName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="特殊列">
                <div>
                    <el-row>
                        <el-button type="text" icon="el-icon-plus" title="新增一行" @click="addColumn"></el-button>
                    </el-row>
                    <el-table :data="updateForm.columns" border style="width: 100%">
                        <el-table-column type="index" width="50"></el-table-column>
                        <el-table-column label="列名" min-width="30%">
                            <template slot-scope="scope">
                                <el-form-item :prop="'columns.' + scope.$index + '.colName'"
                                              :rules="updateFormFules.columns.colName">
                                    <el-select v-model="scope.row.colName" placeholder="请选择">
                                        <el-option
                                                v-for="item in updateForm.columnList"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </template>
                        </el-table-column>
                        <el-table-column>
                            <template slot="header" slot-scope="scope">
                                <span>配置属性</span>
                                <el-tooltip placement="top" effect="light">
                                    <div slot="content">
                                        <span>用于手动指定列参数，多个使用逗号分隔 例:aa=yy;bb=nn 更具体语法属性可以参考</span> <a
                                            href="http://mybatis.org/generator/configreference/columnOverride.html"
                                            target="_blank">http://mybatis.org/generator/configreference/columnOverride.html</a>
                                    </div>
                                    <el-button type="text" icon="el-icon-question"></el-button>
                                </el-tooltip>
                            </template>
                            <template slot-scope="scope">
                                <el-form-item :prop="'columns.' + scope.$index + '.colProperties'"
                                              :rules="updateFormFules.columns.colProperties">
                                    <el-input v-model="scope.row.colProperties"></el-input>
                                </el-form-item>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" min-width="20%">
                            <template slot-scope="scope">
                                <el-button @click.native.prevent="deleteColumn(scope.$index, scope.row)" type="text"
                                           size="small">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="handleClose">取 消</el-button>
            <el-button type="primary" @click="confimRow">确 定</el-button>
        </span>
    </el-dialog>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: function () {
            var vidFunc = (prd, msg) => {
                return (rule, value, callback) => {
                    //console.log("check vidFunc value ="  + value);
                    if (this.form[prd] && !value) return callback(new Error(msg));
                    callback();
                };
            };
            var vidPathFunc = (rule, value, callback) => {
                //console.log("check vidPathFunc value ="  + value);
                if (value) {
                    let checkDir = isAbsDir(value);
                    if (!checkDir) {
                        return callback(new Error("必须是已存在的绝对目录"));
                    }
                    callback();
                }
            };

            // var validCloumns = (rule, value, callback) => {
            //     if(value){
            //         let vLength = value.length;
            //         let tLength = value.filter(n => n.colProperties).length;
            //         if(vLength != tLength){
            //             return callback(new Error("列名不能为空, 配置属性不能为空"));
            //         }
            //
            //     }
            // };
            var validColName = (rule, value, callback) => {
                if (!value) return callback(new Error("配置属性不能为空"));
                callback();
            };
            var validColProp = (rule, value, callback) => {
                if (!value) return callback(new Error("配置属性不能为空"));
                callback();
            };
            return {
                loading: true,
                active: 1,
                form: {},
                formFules: {
                    controllerPath: [
                        {validator: vidFunc('hasController', 'Controller 路径不能为空'), trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    controllerPackage: [{validator: vidFunc('hasController', 'Controller 包名不能为空'), trigger: 'blur'}],
                    servicePath: [
                        {validator: vidFunc('hasService', 'Service 路径不能为空'), trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    servicePackage: [{validator: vidFunc('hasService', 'Service 包名不能为空'), trigger: 'blur'}],
                    poPath: [
                        {validator: vidFunc('hasPovo', 'PO 路径'), trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    poPackage: [{validator: vidFunc('hasPovo', 'PO 包名'), trigger: 'blur'}],
                    voPath: [
                        {validator: vidFunc('hasPovo', 'VO 路径'), trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    voPackage: [{validator: vidFunc('hasPovo', 'VO 包名'), trigger: 'blur'}],
                    entityPath: [
                        {required: true, message: 'Entity 路径不能为空', trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    entityPackage: [{required: true, message: 'Entity 包名不能为空', trigger: 'blur'}],
                    daoPath: [
                        {required: true, message: 'DAO 路径不能为空', trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    daoPackage: [{required: true, message: 'DAO 包名不能为空', trigger: 'blur'}],
                    xmlPath: [
                        {required: true, message: 'XML 路径不能为空', trigger: 'blur'},
                        {validator: vidPathFunc, trigger: 'blur'}
                    ],
                    xmlPackage: [{required: true, message: 'XML 包名不能为空', trigger: 'blur'}],
                },
                status: '',
                tableData: [],
                dialogVisible: false,
                updateForm: {
                    columnList: [],
                    columns: []
                },
                updateFormFules: {
                    entityName: [{required: true, message: '映射名不能为空', trigger: 'blur'}],
                    columns: {
                        colName: [{required: true, message: '列名不能为空', trigger: 'blur'}],
                        colProperties: [{required: true, message: '配置属性不能为空', trigger: 'blur'}]
                    }
                },
                dialogColumnVisible: false,

            }
        },
        methods: {
            next() {
                //console.log("active = " + this.active);
                if (this.active <= 1) {
                    //console.log("validate from");
                    this.$refs['form'].validate((valid) => {
                        //console.log("validate valid=" + valid);
                        if (!valid) {
                            this.active = 1;
                            return false;
                        } else {
                            if (this.active++ > 2) this.active = 3;
                        }
                    });
                } else {
                    if (this.active++ > 2) this.active = 3;
                }
                if (this.active >= 3) {
                    this.$confirm('您确认要按照该配置生成代码(目录会被覆盖生成)?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.generate();
                    }).catch((e) => {
                        if ('cancel' == e) {
                            this.active = 2;
                            return;
                        }
                        this.$message({
                            type: 'info',
                            message: '生成失败，请参考控制台日志'
                        });
                    });
                }
            },
            pres() {
                if (this.active-- < 2) this.active = 1;
            },
            openEdit(index, row) {
                /*this.$set(this.updateForm, 'tableName', row.tableName);
                this.$set(this.updateForm, 'entityName', row.entityName);*/
                let tep = this.$options.data().updateForm;
                this.$set(this, 'updateForm', Object.assign(tep, row));
                // 查询对应的列名
                this.getTableColumn(this.updateForm.tableName);
                this.dialogVisible = true;

            },
            deleteRow(index, row) {
                let _this = this;
                this.$confirm('是否删除?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    _this.tableData.splice(index, 1);
                }).catch((e) => {
                    if ('cancel' == e) return;
                    console.log("delete table is error = " + e);
                    this.$message({
                        type: 'info',
                        message: '删除失败，请参考控制台日志'
                    });
                });

            },
            handleClose() {
                this.dialogVisible = false;
                this.$set(this, 'updateForm', this.$options.data().updateForm);
            },
            addColumn() {
                this.updateForm.columns.push({});
            },
            confimRow() {
                this.$refs['updateForm'].validate((valid) => {
                    if (valid) {
                        let tName = this.updateForm.tableName;
                        this.tableData.filter(n => tName == n.tableName)[0]['columns'] = this.updateForm.columns;
                        this.handleClose();
                    }
                });
            },
            deleteColumn(index) {
                this.updateForm.columns.splice(index, 1);
            },
            getTableColumn(tableName) {
                // 获取默认的特殊列
                this.getDefaultDateColumn(tableName);
                // 如果下拉列表已经查询过了 就不用重复查了
                if (this.updateForm.columnList.length <= 0) {
                    // 查询webengin接口对应的数据
                    let columnList = getColumnsOptions(tableName);
                    //console.log("columnList = "+ columnList);
                    if (columnList && columnList.length > 0) {
                        this.$set(this.updateForm, 'columnList', columnList.map(n => {
                            return {'label': n, 'value': n};
                        }));
                        //console.log("updateForm.columnList = " + this.updateForm.columnList);
                    }
                }

            },
            getDefaultDateColumn(tableName) {
                // 如果是编辑的情况就不设置默认了
                if (this.updateForm.columns.length <= 0) {
                    let dateColums = getDefaultColumnList(tableName);
                    // 需要添加date映射
                    if (dateColums.length > 0) {
                        this.$set(this.updateForm, 'columns', dateColums);
                    }
                }

            },
            getTables() {
                let tempTable = getTables();
                this.$set(this, 'tableData', tempTable);
            },
            getConfig() {
                let temp = getConfig();
                this.$set(this, 'form', temp);
            },
            loadContext() {
                let maxTimeout = 10;
                let tempIndex = 0;
                let _this = this;
                // 因为application里是页面加载完成后添加的Java成员 如果不延迟的话 可能会出现加载不到的问题
                let intv = null;
                intv = setInterval(() => {
                    //console.log("tempIndex = " + tempIndex);
                    if (tempIndex >= 5) {
                        _this.loading = false;
                        _this.$message.error({
                            message: "您的IDE不支持本插件，请使用 IntelliJ IDEA 2020.1.3 (Ultimate Edition) 或以上版本",
                            duration: 0
                        });
                        if (intv) clearInterval(intv);
                        return;
                    }
                    let checkRes = checkGenerrator();
                    if (checkRes) {
                        if (intv) clearInterval(intv);
                        _this.loading = false;
                        _this.checkDbConnect();
                        _this.getConfig();
                        _this.getTables();
                    }
                    tempIndex++;
                }, 1000);
            },
            generate() {
                console.log("tabledata = " + JSON.stringify(this.tableData));
                let wbfcConfig = Object.assign({}, this.form);
                wbfcConfig.tablesCloumnList = Object.assign(this.tableData);
                console.log("tabledata = " + JSON.stringify(wbfcConfig));
                saveWbfcConfig(wbfcConfig);

                let genRes = generateCodes();
                if ("success" == genRes) {
                    this.$alert('生成成功', '-提示-', {
                        confirmButtonText: '确定',
                        callback: action => {
                            closeApplication();
                        }
                    });
                    return;
                } else {
                    this.$alert('生成失败,请到控制台查看错误日志', '-提示-', {
                        confirmButtonText: '确定',
                        callback: action => {
                            closeApplication();
                        }
                    });
                    return;
                }
            },
            checkDbConnect() {
                let res = checkDbConnection();
                if ('success' != res) {
                    this.$alert(res, '-提示-', {
                        confirmButtonText: '确定',
                        callback: action => {
                            closeApplication();
                        }
                    });
                    return;
                }
            }
        },

        created: function () {
            this.loadContext();
        }
    });

    /**
     * 校验时候有java成员变量
     *
     * @returns {boolean}
     */
    function checkGenerrator() {
        try {
            if (wbfcGenerator) {
                return true;
            }
        } catch (e) {
            // do nothing
        }
        return false;
    }

    function getTables() {
        if (!checkGenerrator()) {
            return [];
        }
        let tempTable = wbfcGenerator.getTables();
        return JSON.parse(tempTable);
    }

    /**
     * 获取table对应的列下拉框值
     *
     * @param tableName
     * @returns {string|any}
     */
    function getColumnsOptions(tableName) {
        if (!checkGenerrator()) {
            return [];
        }
        let tempCol = wbfcGenerator.getTableColumnOptions(tableName);
        if (tempCol && '' != tempCol) {
            return JSON.parse(tempCol);
        }
        return [];
    }

    /**
     * 获取table对应的列属性
     *
     * @param tableName
     * @returns {string|any}
     */
    function getDefaultColumnList(tableName) {
        if (!checkGenerrator()) {
            return [];
        }
        let tempCol = wbfcGenerator.getDefaultColumnList(tableName);
        if (tempCol && '' != tempCol) {
            return JSON.parse(tempCol);
        }
        return [];
    }

    /**
     * 判断是否为绝对路径
     *
     * @param path
     * @returns {string|any}
     */
    function isAbsDir(path) {
        if (!checkGenerrator()) {
            return false;
        }
        return wbfcGenerator.isAbsDirectory(path);
    }

    /**
     * 获取配置
     *
     * @returns {string|any}
     */
    function getConfig() {
        if (!checkGenerrator()) {
            return {};
        }
        let tempCol = wbfcGenerator.getProjectConfig();
        if (tempCol && '' != tempCol) {
            return JSON.parse(tempCol);
        }
        return {};
    }

    /**
     * 生成代码
     *
     * @returns {string|*}
     */
    function generateCodes() {
        if (!checkGenerrator()) {
            return '';
        }
        let tempCol = wbfcGenerator.generateCodes();
        return tempCol;
    }

    /**
     * 保存配置信息
     *
     * @returns {string|*}
     */
    function saveWbfcConfig(wbfcConfig) {
        if (!checkGenerrator()) {
            return '';
        }
        wbfcGenerator.saveWbfcConfig(JSON.stringify(wbfcConfig));
    }

    /**
     * 关闭
     *
     */
    function closeApplication() {
        if (!checkGenerrator()) {
            return;
        }
        wbfcGenerator.close();
    }

    /**
     * 检查数据库链接
     */
    function checkDbConnection() {
        if (!checkGenerrator()) {
            return;
        }
        return wbfcGenerator.checkDbConnection();
    }
</script>
</html>